* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin: auto;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #2c3e50;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}

input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.buttonSubmit {
    padding: 10px 20px;
    background-color: #2c3e50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.buttonSubmit:hover {
    background-color: #34495e;
}

#update-button {
    background-color: #34495e; /* Color de fondo azul */
    color: white; /* Color del ícono */
    border: none; /* Sin borde */
    border-radius: 50%; /* Forma circular */
    width: 30px; /* Tamaño del botón */
    height: 30px;
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra suave */
    transition: background-color 0.3s ease; /* Transición suave */
}

#update-button:hover {
    background-color: #0056b3; /* Color de fondo al pasar el mouse */
}

#update-button:active {
    background-color: #004080; /* Color de fondo al hacer clic */
}

#update-button i {
    font-size: 18px; /* Tamaño del ícono */
}

#last-update {
    margin-left: 10px; /* Espacio entre el botón y el texto */
    font-size: 14px; /* Tamaño de la fuente */
    color: #555; /* Color del texto */
    font-style: italic; /* Texto en cursiva */
}

.copy-button {
    background: none;
    border: none;
    color: #007bff; /* Color azul para el ícono */
    cursor: pointer;
    margin-left: 10px; /* Espacio entre el texto y el botón */
    font-size: 14px; /* Tamaño del ícono */
    transition: color 0.3s ease; /* Transición suave */
}

.copy-button:hover {
    color: #0056b3; /* Color azul más oscuro al pasar el mouse */
}

.copy-button:active {
    color: #004080; /* Color azul más oscuro al hacer clic */
}

#resultados {
    margin-top: 20px;
}

#resultados h2 {
    margin-bottom: 10px;
}

#resultados p {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Estilo para los valores del dólar */
#dolar-valores {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #ecf0f1;
    border-radius: 5px;
}

#dolar-valores p {
    font-size: 18px;
    margin-bottom: 5px;
    color: #2980b9;
    font-weight: bold;
}

.text-success {
    color: rgb(23, 197, 23);
}

.text-danger {
    color: rgb(226, 3, 3);
}

/* Estilo para el pie de página */
footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 50px;
    margin-top: auto;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 14px;
}
